@{
  Layout="Shared/_Layout.cshtml";
}


<h3>Hi!! This is @Model.GetName()</h3>

<div class="contactDetails">
  <p>Contact Details:</p>
  <ul>
    <li>Name: @Model.GetName()</li>
    <li>Phone Number: @Model.GetPhoneNumber()</li>
    <li>Street Address: @Model.GetStreetAddress()</li>
    <li>City, State Zip: @Model.GetCity(), @Model.GetState() @Model.GetZipCode()</li>
    <li>Email: @Model.GetEmailAddress()</li>
  </ul>
</div>
<p><span class="newContact"><a href="/contact">Add new Contact!</a></span></p>
<p><span class="backHome"><a href="/">Back to the Home Page</a></span></p>
<form action="/contact/@Model.GetId()" method="post">
  <button id="deleteContact" type="submit" name="button">Delete This Contact</button>
</form>
