<h3>You created a contact!</h3>

<ul>
    <li>@Model.GetName()</li>
    <li>@Model.GetPhoneNumber()</li>
    <li>@Model.GetStreetAddress()</li>
    <li>@Model.GetCity() @Model.GetState() @Model.GetZipCode()</li>
    <li>@Model.GetEmailAddress()</li>
</ul>

<p><a href="/">Back to the Home Page</a></p>
<p><a href="/contact">Add another Contact!</a></p>
